@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pencil-line-1 {
    background-color: red;
    /*
    https://codemyui.com/tag/hand-drawn/
    https://codepen.io/tmrDevelops/pen/NPXodB
    https://codepen.io/AlexOverbeck/pen/axGQyv?editors=1100
    */
  }

  .text-shadow {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.8);
  }
}
